<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav>
        <h1>Music App</h1>
        <% if logged_in? %>
        <h2> Welcome, <span id="user_email"><%= current_user.email %></span>  </h2>
      
        <form action="<%= session_url %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
          <button id="button_style">Log Out!</button>
        </form>
      
      <% end %>
    </nav>
</header>

<main>
  <%= yield %>
</main>
    
  </body>
</html>
